/* body {
 background-image: url("/static/blog/test.jpg");
 color: white;
 height: 650px;
  }
p{
  color:red;
} */


#logo{
  height: 10%;
  width: 10%;
}

#fff{
  height: 5%;
    color:white;
}

#uprofile{
  color:black;
}
#headimg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("/static/blog/cardbg.jpg");
  background-size:cover;
  position:relative;
  color:white;
}


#myFooters {
    background-color: #3c3d41;
    color: white;

    padding-top: 30px;
}

#myFooters .footer-copyrights {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooters .row {
    margin-bottom: 60px;
}

#myFooters .navbar-brands {
    margin-top: 45px;
    height: 65px;
}

#myFooters .footer-copyrights p {
    margin: 10px;
    color: #ccc;
}
.box{
  padding:0px;
  margin:0px;
  width:95%;
}
#myFooters ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooters h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooters h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooters a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooters a:hover,
#myFooters a:focus {
    text-decoration: none;
    color: white;
}

#myFooters .social-networkss {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooters .social-networkss a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooters .social-networkss a:hover {
    text-decoration: none;
}

#myFooters .facebook:hover {
    color: #0077e2;
}

#myFooters .google:hover {
    color: #ef1a1a;
}

#myFooters .twitter:hover {
    color: #00aced;
}

#myFooters .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooters {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

#pos {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-size:1.2rem;
  padding:1% 2%;
}

#pos:hover {
  background-color:black;
  color: white;
}
.contents{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooters{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
