{% extends "blog/base.html" %}
{% block content %}

    <h2><b><i>  What is GamingOrg ?</i></b></h2>
      <p>Thanks to our community of organizers, GamingOrg  hosts thousands of esport tournaments and competitions. It is the perfect platform to connect with various esports actors around globe that share a common passion!
        <br>
      <h2><b><i>A platform dedicated to esport ?</i></b></h2>
      From the community tournaments to the pro events, we provide an environment where numerous numbers of players can interact with eachother and can have a good experience while participating in events.
    <h2><b><i>  A wide range of tournaments to play in</i></b></h2>
    <p> With hundreds of games, and thousands of tournaments set up by the organizers, players always have a tournament to start their esport journey in and enjoy great gaming moments.

    <p>  PUBG MOBILE tournaments in India are available on gamingOrg Website. The tournament is set to attract youth from across the country with a Kill and Win.


    <p>  PUBG Mobile, developed by Tencent Games and PUBG Corp., is based on popular battle-royale genre video game PlayerUnknown’s Battlegrounds that was originally launched for PC and Xbox One. Up to 100 players parachute onto a remote island to do battle in a winner-takes-all showdown. Players must locate and scavenge their own weapons, vehicles and supplies, and defeat every player in a visually and tactically rich battleground that forces players into a shrinking play zone.Registrations will be open via the official website www.gamingOrg.com.

    <p>  GamingOrg big step towards developing a robust eSports ecosystem in India.

    <p>  “We are glad that PUBG MOBILE has received an overwhelming response in India and we look forward to conduct as much events for players as possible.

{% endblock content %}
