{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <meta name="description" content="GamingOrg are are invited to PUBG Gamers to participate in online gaming tournaments at Utlimate Battle here with the biggest Chicken Dinner of 'em all! with PUBG MOBILE tournament, win paytm money">
    <meta name="og:title" property="og:title" content="pubg mobile, pubg tricks, PUBG Gamers ,tournaments, Utlimate Battle,PUBG MOBILE tournament,winner winner chicken dinner, gamingorg ,pubg mobile download, pubg event, pubg india">
    <meta name="robots" content="index, follow">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43827126-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43827126-4');
    </script>
        <title>GamingOrg | PUBG Mobile tournaments| Pubg Gamers| pubg tricks</title>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'blog-home' %}">
    <img src="{% static '/blog/logo2.svg' %}" alt="GamingOrg" id="logo" height="5%" width="5%">
  </a>
    <!-- <img src="{% static '/blog/logo.png' %}" alt="GamingOrg" id="logo"> -->


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog-gamerule' %}">GameRule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog-about' %}" tabindex="-1" >about us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    {% if user.is_authenticated %}
      <a class="btn btn-outline-primary my-2 my-sm-0" role="button" href="{% url 'profile' %}">profile</a>&nbsp
      <a class="btn btn-outline-primary my-2 my-sm-0" role="button" href="{% url 'logout' %}">logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary my-2 my-sm-0" role="button" aria-disabled="true">Login</a>&nbsp&nbsp
    <a href="{% url 'register' %}" class="btn btn-outline-danger my-2 my-sm-0 " role="button" aria-disabled="true">SignUp</a>
    {% endif %}
    </form>
  </div>
</nav>
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
       <!-- <div class="col-md-4">
         <div class="content-section">
           <h3>Our Winners</h3>
           <p class='text-muted'>You can put any information here you'd like.
             <ul class="list-group">
               <li class="list-group-item list-group-item-light">Latest Posts</li>
               <li class="list-group-item list-group-item-light">Announcements</li>
               <li class="list-group-item list-group-item-light">Calendars</li>
               <li class="list-group-item list-group-item-light">etc</li>
             </ul>
           </p>
         </div>
       </div> -->
     </div>
   </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Footer -->



    <div class="contents">
    </div>
        <footer id="myFooters">
            <div class="containers">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 class="logo"><a href="#">  </a></h2>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>


                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>About us</h5>
                        <ul>
                            <li><a href="#">Company Information</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help desk</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networkss">
                            <!-- <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                            <button type="button" class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</button> -->
                            <a href="https://www.facebook.com/GamingOrg"><img src="{% static 'blog/fb.png' %}" alt="My image" height="10%" width="10%"></a>
                              <a href="https://www.instagram.com/"><img src="{% static 'blog/insta.png' %}" alt="My image" height="10%" width="10%"></a>
                        </div>
                        <button type="button" class="btn btn-default">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="footer-copyrights">
                <p>© 2019 Copyright GamingOrg </p>
            </div>
        </footer>
  </body>
</html>
