{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="rules-part2">
<br><br>
            <div class="container">
                <div class="rules-format-text">
<h2>FAQ<h2>

<h3><b><i>GamingOrg Tournaments FAQs</i></b></h3>
<p>Get ready to join the best GamingOrg tournaments in the world! Compete in the thrilling arena of online GamingOrg tournaments and test your Gaming skills against players from all across the country. Check out our comprehensive Tournament FAQs and their answers, which explain in detail all you need to know about GamingOrg tournaments.


<h3><b><i>What is the procedure to join a GamingOrg tournament.</i></b></h3>
<p>Once you are signed in you can start playing any tournament. Go on the tournaments tab and click on "join now" button, then Click on "pay now" button once you paid registration fee your name will be display in leaderboard section if not you have to update your profile. Once registered you would get a sms as well as an email when the tournament is made live and the credentials of the matches will be provided through sms and your gamingOrg official site.


<h3><b><i>What are Cash Tournaments?</i></b></h3>
<p>You need to go to the Tournament section and select the type of tournament you wish to play. Click on the “Join Now” button to take part in the type of GamingOrg tournament you have selected.


<h3><b><i>How can I earn from a tournament?</i></b></h3>
<p>Once you won the match or kill max number of enemies, you will get money in your paytm wallet within 24 hours.
You have to update your paytm number in profile.


<h3><b><i>When does the “Join Now” button get disabled?</i></b></h3>
<p>The “Join Now” button is usually disabled when the registrations for a GamingOrg tournament have closed, or when it is about to start at a particular time. The status of the GamingOrg tournament is displayed, mentioning the reason for having the “Join Now” button disabled.


<h3><b><i>When does a tournament start?</i></b></h3>
<p>It will display on gamingorg home page.

<h3><b><i>Where Can I Reset My Password?</i></b></h3>
<p>You can reset your password by clicking "forgot password" at the login window.




{% endblock content %}
