{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="rules-part2">
            <div class="container">
                <div class="rules-format-text">
                    <h3>Participants Eligibility</h3>
                    <p>
                        Every participant who decides to participate in this tournament must be an Indian resident.
                        Participants should have an account of level 20 or above on their PUBG Mobile game.
                    </p>
                    <h3>Format</h3>
                    <p>
                        <strong>Registration:</strong> How to register? The registration process for PUBG Mobile India Series
                        is really
                        quite simple. All you need to do is to on “Register Now” button and complete the registration form.
                        Once you
                        complete the registration form, you need to verify your email to activate your account.
                    </p>
                    <p>Upon successful registration, you need to join or create a squad of a minimum of 4 members.</p>
                    <h4>JOINING A SQUAD</h4>
                    <p>
                        Enter the squad ID of the squad you wish to join and click the “Join Squad” button. Your request is
                        sent
                        now and you will be added to the squad as soon as the captain accepts your request.
                    </p>
                    <h4>CREATING A SQUAD</h4>
                    <p>
                        Click on the “Create Squad” button to create a squad. Once you have created a squad, you can invite
                        players to your squad by sending them an invite link.
                    </p>
                    <p>
                        Once your squad has 4 members, you are good to go. All you need to do now is to roll up your
                        sleeves and go get those chicken dinners!
                    </p>
                    <p>
                        <strong>In-Game Qualifier:</strong> Once your squad of 4 members is ready, you will need to play 15
                        Classic mode matches
                        in Erangel with your registered India Series squad. Out of the first 15 matches, your best 10
                        matches will be considered towards the final result. The result is based on kills and finishing
                        position
                        - if there is a tie, other parameters like Survival time, accuracy etc., will be considered. Remember,
                        In-game Qualifier is only for 7 days from Jan 21 to Jan 27 and matches played only during this period
                        will be considered. Make sure you play 15 matches with your registered squad as soon as it opens on
                        21st Jan.
                    </p>
                    <p>
                        <strong>Online Playoffs:</strong> Online PlayOffs will be played across 3 rounds from Feb 10 to Feb 24. We’ll describe each
                        of these rounds to you in a bit of detail.
                    </p>
                    <p>
                        In Round 1, the Top 2000 Squads are seeded into 100 groups with each group consisting of 20 squads.
                        All these groups will play in Best Of 1, position based knockout match. The top 4 squads from each
                        group will move on to Round 2.
                    </p>
                    <p>
                        In Round 2, the top 400 squads from Round 1 will be seeded into 20 groups again, with each group
                        consisting
                        of 20 squads. These 400 squads play in a Best Of 1, position based knockout match. Once again, the top
                        4
                        squads from each group move on to Round 3.
                    </p>
                    <p>
                        In Round 3, the top 80 squads from Round 2 will be seeded into 4 groups, each consisting 20 squads.
                        These 80 squads will play Best Of 3 points-based knockout matches. The top 5 squads from each group
                        will move on to the much- awaited grand finale.
                    </p>
                    <table class="table table-striped table-dark prize-pool-table-data">
                        <thead class="table-head">
                            <tr>
                                <th scope="col">Round</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Series</th>
                                <th scope="col">No. of Squads Qualified</th>
                            </tr>
                        </thead>
                        <tbody style="letter-spacing: 0px;font-family: barlow-regular;">
                            <tr>
                                <td>1</td>
                                <td>10 Feb - 15 Feb</td>
                                <td>Best of 1</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>16 Feb - 19 Feb</td>
                                <td>Best of 1</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>21 Feb - 24 Feb</td>
                                <td>Best of 3</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="prize-pool-table-image">
                        <img src="/indiaseries/images/schedule@2x.png" alt="">
                    </div>
                    <p>
                        <strong>Grand Finale:</strong> Top 20 Teams from Online Play-Offs move to the Grand Finale. Grand
                        Finale will happen in March.
                        Exact dates and other details about the Grand Finale will be announced soon. Watch this space for
                        further info.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="rules-content">
                    <h3>Participants Eligibility</h3>
                    <p>Every participant who decides to participate in this tournament must be an Indian resident.</p>
                </div>
                <div class="rules-content">
                    <h3>Roster</h3>
                    <p>
                        In order to participate in this tournament, a Squad must consist of at least four players. All the
                        players must
                        be from India. Squads are only allowed to play with players on their roster with a registered game
                        account.
                        All roster changes must be made prior to the start of In-game Qualifiers. Playing with different
                        players
                        and/or illegal ringers will result in disqualification.
                    </p>
                </div>
                <div class="rules-content">
                    <h3>Squad and Player names</h3>
                    <p>
                        Tencent Games reserves the right to edit In Game Names and/or URL aliases. Squad or player names that
                        are too
                        similar to that of another squad or player are subject to be changed by Tencent Games. If a team name
                        has been
                        wrongly seized, please file a support ticket with proof of ownership of the name.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Game version</h3>
                    <p>
                        All players must use their Mobile Phones to play the game and all players must install the newest
                        version of
                        the game in order to participate in PUBGM India Series. Updates must be installed before the tournament
                        starts,
                        so delays will be at a minimum.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Devices</h3>
                    <p>
                        Devices – During the In-game Qualifier and Online Playoffs, the players are expected to use their own
                        devices without
                        any emulators, hacks and any other 3rd party software/tool which gives them undue advantage. During the
                        offline
                        Grand Finals, devices would be provided by the organiser to all participants and would be used to play
                        the finals
                    </p>
                </div>
            </div>
            <div class="rules-part4">
                <div class="container">
                    <div class="rules-content mobile-hide">
                        <h3>Technical Issues</h3>
                        <p>
                            Squads are responsible for their own technical issues (hardware/internet). Matches will not be
                            rescheduled
                            because of technical issues and matches will continue to be played nevertheless. If the warm-up time
                            in starting island is exceeded, the game goes on, even if the issue is not resolved.
                        </p>
                    </div>
                    <div class="rules-content">
                        <h3>Disqualification</h3>
                        <p>
                            If any player particular player is known to be using emulators or any other kind of 3rd party
                            tools/hacks which
                            allows players to play the game in PC, the whole squad will get disqualified from the tournament.
                        </p>
                        <p>
                            To protect the integrity of the tournament, Tencent Games reserves the right to disqualify Squads.
                            This will only be done in cases where a Squad purposefully stalls or attempts to block the tournament
                            from starting.

                        </p>
                        <p>
                            Players are not allowed to add, modify or remove game files from their intended state. Any such
                            manipulation
                            will result in immediate disqualification.

                        </p>
                        <p>
                            Intentionally changing your character’s angle to look through texture or object is prohibited.
                            Players are not allowed to set two actions to the same key in key bindings.
                        </p>
                        <p>
                            The intentional use of any bugs, glitches, or errors in the game is strictly forbidden and will be
                            penalized.
                            Any Squad found to be using any known exploit will forfeit their game upon the first occurrence of
                            the exploit.
                            If the Squad is found to use another known exploit for a second time and it is determined to have
                            been done
                            on purpose they will be removed from the event and barred from any future events. Betting during the
                            course
                            of the tournament (by a player, Squad, or on behalf of anyone associated with the Squad) is off
                            limits.
                            Those partaking will be disqualified from the tournament in question and will receive a minimum of 6
                            months ban.
                        </p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>Game preparations</h3>
                        <p>
                            Please resolve any problems that might occur before a match starts. Connection or hardware problems
                            during a
                            match could lead to disqualification by match admins/moderators. Make sure all players are eligible
                            to play.
                            In Squad games, all players must be registered for their corresponding Squad.
                        </p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>No show</h3>
                        <p>If a squad doesn’t show up at the scheduled start time, the squad will be disqualified.</p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>Substitute Players</h3>
                        <p>No substitute players are allowed.</p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>Disconnections</h3>
                        <p>
                            In case a player gets disconnected from a match, the Squad is allowed to continue to play the match
                            at a disadvantage.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="rules-content mobile-hide">
                    <h3>Points distribution</h3>
                    <p>Each Kill will get 20 Points.</p>
                    <p>Applicable for Best Of 3 and Best Of 5 matches.</p>
                    <div class="row prize-pool-table-data">
                        <div class="col-md-6">
                            <table class="table table-striped table-dark table-center">
                                <thead class="table-head">
                                    <tr>
                                        <th scope="col">Placement</th>
                                        <th scope="col">Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1st</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>2nd</td>
                                        <td>395</td>
                                    </tr>
                                    <tr>
                                        <td>3rd</td>
                                        <td>350</td>
                                    </tr>
                                    <tr>
                                        <td>4th</td>
                                        <td>315</td>
                                    </tr>
                                    <tr>
                                        <td>5th</td>
                                        <td>285</td>
                                    </tr>
                                    <tr>
                                        <td>6th</td>
                                        <td>260</td>
                                    </tr>
                                    <tr>
                                        <td>7th</td>
                                        <td>240</td>
                                    </tr>
                                    <tr>
                                        <td>8th</td>
                                        <td>220</td>
                                    </tr>
                                    <tr>
                                        <td>9th</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>10th</td>
                                        <td>180</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped table-dark table-center">
                                <thead class="table-head">
                                    <tr>
                                        <th scope="col">Placement</th>
                                        <th scope="col">Points</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td>11th</td>
                                        <td>160</td>
                                    </tr>
                                    <tr>
                                        <td>12th</td>
                                        <td>150</td>
                                    </tr>
                                    <tr>
                                        <td>13th</td>
                                        <td>140</td>
                                    </tr>
                                    <tr>
                                        <td>14th</td>
                                        <td>130</td>
                                    </tr>
                                    <tr>
                                        <td>15th</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <td>16th</td>
                                        <td>110</td>
                                    </tr>
                                    <tr>
                                        <td>17th</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>18th</td>
                                        <td>90</td>
                                    </tr>
                                    <tr>
                                        <td>19th</td>
                                        <td>80</td>
                                    </tr>
                                    <tr>
                                        <td>20th</td>
                                        <td>70</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="prize-pool-table-image">
                        <img src="/indiaseries/images/table@2x.png" alt="">
                    </div>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Forfeit</h3>
                    <p>
                        Participants can choose to forfeit a match if they wish. Forfeiting will result in 0 points from that
                        match.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Protests</h3>
                    <p>
                        If a match was incorrectly reported into our system, your Squad has 10 minutes to protest the report.
                        Match
                        protests must include media evidence clearly showing the results of the match/series. Squads are
                        responsible
                        for providing proof of match results in case of disputes.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Rematch</h3>
                    <p>
                        A rematch can only be played with admin/moderator initiation. Disconnects and lag issues will only
                        qualify
                        for a rematch if the issue occurs within the first 60 seconds of the game and affects a significant
                        number
                        of players.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Game Observers</h3>
                    <p>
                        Game Observers are organized by the tournament organisers and people that are given permission by an
                        admin (e.g. shout casters or streamers).
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Results</h3>
                    <p>
                        ResultsAll results will be input by Tencent Games personnel. If anything is unclear, participants
                        should have screenshots available to verify the result and file a protest.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Admins</h3>
                    <p>
                        All participants must adhere to the decisions and rules of the tournament organizers, admins, and
                        referees. All decisions are final, except in cases where the option to appeal is clearly stated.
                        Conversations, either verbal or written, between organizers, admins, or referees, and participants are
                        confidential. Publicly posting or sharing these conversations with outside parties is strictly
                        forbidden, unless permission is obtained.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Match Media</h3>
                    <p>
                        All match media (screenshots, demos, etc.) must be kept for at least 14 days. Faking or manipulating
                        match media is forbidden and will result in severe penalties. Match media should be named clearly based
                        on what it is. It is not possible to file a protest or write a support ticket to complain about bad
                        match media naming. However, if an admin is hindered in their work because of bad match media names
                        then it can be punished.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Re-host</h3>
                    <p>
                        A re-host can only be played with admin initiation. Disconnects and lag issues will only qualify for a
                        re-host if the issue occurs within the first 60 seconds of the game and affects a significant number of
                        players.
                    </p>
                </div>
{% endblock content %}
