{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="rules-part2">
<br><br>
            <div class="container">
                <div class="rules-format-text">
                    <h3>Participants Eligibility</h3>
                    <p>
                        Every participant who decides to participate in the contests must be an Indian resident.
                        And PUBG Merit score must be greater than 50.
                        <h3> How to register?</h3>
                        <p> The registration process for GamingOrg is
                        quite simple. All you need to do is to click on “Sign Up” button and complete the registration form.
                        Once you
                        complete the registration form. After that you can Login and start joining the contests.
                    </p>
            </div>

                <div class="rules-content">
                       <h3>How to Play</h3>
                       <ul>
                        <li>
Click on "Join Now" button and pay the entry fee to register in the contest</li>
<li>To join the contest, open PUBG in your mobile (5 minutes before the match timing) and click on Room/Home Icon on the left side (just below map) and enter Room ID & Password</li>
<li>Room ID and Password will be shared with you on your email ID and mobile number 15 mins before contest start time.</li>
<li>Room ID and Password will also appear on top of this page 15 mins before contest start time. If it doesn't appear, make sure that you have logged in and refresh the page.</li>
</ul>
                </div>


                <div class="rules-content">
                    <h3>Player usernames</h3>
                    <p>
                       Username must be similar to that of the PUBG user ID.
                   </p>
                   <p>
                    GamingOrg has right to remove any participant whose linked GamingOrg username is incorrect or is different from PUBG UserID.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Game version</h3>
                    <p>
                        All players must use their Mobile Phones to play the game and all players must install the newest
                        version of
                        the game in order to participate in the contests. Updates must be installed before the match
                        starts,
                        so delays will be at a minimum.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Devices</h3>
                    <p>
                        Devices – Mobile Phones only.
                        </p><p>Any emulators, hacks and any other 3rd party software/tool which gives them undue advantage should not be tolerated.
                    </p>
                </div>
            </div>
            <div class="rules-part4">
                <div class="container">
                    <div class="rules-content mobile-hide">
                        <h3>Technical Issues</h3>
                        <p>
                            Players are responsible for their own technical issues (hardware/internet). Matches will not be
                            rescheduled
                            because of technical issues and matches will continue to be played nevertheless. If the warm-up time
                            in starting island is exceeded, the game goes on, even if the issue is not resolved.
                        </p>
                    </div>
                    <div class="rules-content">
                        <h3>Disqualification</h3>
                        <p>
                            If any player is found to be using emulators or any other kind of 3rd party
                            tools/hacks which
                            allows players to play the game in PC, the player will get kicked out from the contest.
                        </p>
			<p>
                          Teaming with other players or unregistered players entering room will result in permanent ban from further contests
                          <p>
                        <p>
                            Players are not allowed to add, modify or remove game files from their intended state. Any such
                            manipulation
                            will result in immediate disqualification.

                        </p>
                        <p>
                            The intentional use of any bugs, glitches, or errors in the game is strictly forbidden and will be
                            penalized.
                            Any player found to be using any known exploit will forfeit their game upon the first occurrence of
                            the exploit.
                            If the player is found to use another known exploit for a second time and it is determined to have
                            been done
                            on purpose they will be banned from all the contests and barred from any future events.
                        </p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>Game preparations</h3>
                        <p>
                            Please resolve any problems that might occur before a match starts. Connection or hardware problems
                            during a
                            match could lead to disqualification by match admins/moderators. Make sure all players are eligible
                            to play.
                            In Squad games, all players must be registered for their corresponding Squad.
                        </p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>No show</h3>
                        <p>If a squad doesn’t show up at the scheduled start time, the squad will be disqualified. And no refund will be initiated.</p>
                        <p>
                            Joining fees is completely non-refundable
                        </p>
                    </div>
                    <div class="rules-content mobile-hide">
                        <h3>Disconnections</h3>
                        <p>
                            In case a player gets disconnected from a match, the Squad is allowed to continue to play the match
                            at a disadvantage.
                        </p>
                    </div>
                </div>
            </div>
         </div>
                <div class="rules-content mobile-hide">
                    <h3>Protests</h3>
                    <p>
                        If a match was incorrectly reported into our system, the player has 10 minutes to protest the report.
                        Match
                        protests must include media evidence clearly showing the results of the match/series. Players are
                        responsible
                        for providing proof of match results in case of disputes.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Game Observers</h3>
                    <p>
                        Game Observers are organized by the tournament organisers and people that are given permission by an
                        admin (e.g. shout casters or streamers).
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Results</h3>
                    <p>
                        Results will be announced on the official GamingOrg site after the conduction of one hour of the match.
                    </p>
                    <p>
                        Prize money will be transfered to linked PayTM account within 24 hours of the match.
                    </p>
                </div>
                <div class="rules-content mobile-hide">
                    <h3>Admins</h3>
                    <p>
                        All participants must adhere to the decisions and rules of the tournament organizers, admins, and
                        referees. All decisions are final, except in cases where the option to appeal is clearly stated.
                        Conversations, either verbal or written, between organizers, admins, or referees, and participants are
                        confidential. Publicly posting or sharing these conversations with outside parties is strictly
                        forbidden, unless permission is obtained.
                    </p>
                </div>
{% endblock content %}
