{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    {% for post in posts %}
      <br>
      <div class="card flex-row flex-wrap" style="width: 25rem;">
      <div class="card-header border-0" >
      <img src="{% static 'blog/test.jpg' %}" alt="My image" height="125px" width="75px">
      <!-- <h5 class="card-title">{{ post.title }}</h5> -->
      </div>
      <div class="card-body px-2">
      <p>participants {{ post.participants }}
      <p>Entry: <b>{{ post.reg_fee}}&#x20b9;</b></p>
      <p>Per kill {{ post.per_kill }}&#x20b9;</p>
      {% if user.is_authenticated %}
        <a href="{% url 'blog-payment' %}" class="btn btn-outline-primary my-2 my-sm-0" id="pos" role="button" aria-disabled="true">Join now</a>&nbsp&nbsp
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-primary my-2 my-sm-0" id="pos" role="button" aria-disabled="true">Join</a>&nbsp&nbsp
      {% endif %}
      </div>
      </div>
    {% endfor %}
{% endblock content %}
