{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<article class="post">

    <br>
  <h2>How to Join Room PUBG Room </h2>

<div class="post-content">
<p>1. First you have to login your account and make sure you have already paid the Tournaments money.</p>
<p>2. Go to the Dashboard , click on Roominfo , Room ID and Password will be display 15 minutes before the match started.</p>
<p>3. We are also provide RoomID and Password by SMS , Make sure you have enter your mobile number into GamingOrg account sucessfully updated</p>
<p>4. Roomed and password will be displayed in roominfo section, 15 minutes before match start</p>
  <img src="{% static '/blog/roomidpass.jpeg' %}" alt="GamingOrg" height="100%" width="100%"><br>
    <p>5. Join custom room</p>
  <img src="{% static '/blog/room1.jpeg' %}" alt="GamingOrg" height="100%" width="100%"><br>
    <img src="{% static '/blog/room2.jpeg' %}" alt="GamingOrg" height="100%" width="100%"><br>
      <img src="{% static '/blog/room3.jpeg' %}" alt="GamingOrg" height="100%" width="100%"><br>

  </div>


</article>

{% endblock content %}
