{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>payment time</h2>

    {% if paymentSuccess %}
      <div class='alert alert-info'> Success </div>
    {% elif paymentFailed %}
      <div class='alert alert-danger'> Failed </div>
    {% endif %}



<!--
    <div class="card-body px-1">
        <small class="text-muted" style="align:center;">
            <b>Amount Payable: Rs. {{game.reg_fee}}</b>
            <br><br>
            {% if user_has_paid %}
            <a href='#' class='btn btn-info' style='color:white'> Paid </a>
            {% else %}
            <a href='/paytm/payment?id={{game.id}}' class='btn btn-info' style='color:white'> Pay Now </a>
            {% endif %}
        </small>
    </div> -->


    <div class="card-body px-1">
        <small class="text-muted" style="align:center;">
            <b>Amount Payable: Rs. {{game.reg_fee}}</b>
            <br><br>
            {% if user_has_paid %}
              <a href='#' class='btn btn-info' style='color:white'> Paid </a>
            {% elif  game.get_successful_order_count is 100 %}
              <a href='#' class='btn btn-info' style='color:white'> Closed </a>
	      {% elif game.limit %}
                <a href='#' class='btn btn-info' style='color:white'> Closed </a>
            {% else %}
              <a href='/paytm/payment?id={{game.id}}' class='btn btn-info' style='color:white'> Pay Now </a>
            {% endif %}
        </small>
    </div>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Prize</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">leaderboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">RoomInfo</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



        <table class="table" >
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Prize</th>
        </tr>
      </thead>
      <tbody>
        <tr> <td><p>1</p></td>
        <td><b>{{ game.rank_1 }}&#x20b9;</b></td>
        <tr> <td><p>2</p></td>
        <td><b>{{ game.rank_2 }}&#x20b9;</b></td>
        <tr> <td><p>3</p></td>
        <td><b>{{ game.rank_3 }}&#x20b9;</b></td>
      </tr>
    </table>
      <h3>Per kill <b>{{ game.per_kill }}&#x20b9/kill</b></h3>
<p>Prize Money can be changed without any prior notice if participation is less</p>


  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


        <table class="table" style="text-align:center;margin-top:-20px">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Player</th>
          <th scope="col">Total kill</th>
          <th scope="col">Rank</th>
            <th scope="col">prize Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for order in game.get_successful_orders %}
        <tr>
          {% if request.user.is_staff %}
          <form action='/updateOrder/' method='POST'>
            {% csrf_token %}
          <td><p><b>{{order.owner.first_name}} </b><br>{{order.owner.profile.pubgusername}}  <p>{{order.owner.profile.phone}}</p></p></td>
          <input type='hidden' name='orderid' value='{{ order.id}}'>
          <td><p><b><input type='number' name='kills' value='{{ order.total_kill }}'></input></b></p></td>
          <td><p><b><input type='number' name='rank' value='{{ order.rank }}'></input></b></p></td>
          <td><p><b><input type='number' name='prize_amount' value='{{ order.prize_amount }}'></input>
          </b></p></td>
          <td><button class='btn btn-primary'>Save</button></td>
          </form>
          {% else %}
          <td><p><b><img class="rounded-circle account-img" src="{{ order.owner.profile.image.url }}" style="height:30px;width:30px;"></p></td>
          <td><p><b>{{order.owner.first_name}} </b><br>{{order.owner.profile.pubgusername}}  </p></td>
          <td><p><b>{% if not order.total_kill %} # {% endif %} <p style="color:red;"> {{order.total_kill|default_if_none:"&nbsp;"}}</p> </b></p></td>
          <td><p><b>{% if not order.rank %} # {% endif %} {{ order.rank|default_if_none:"&nbsp;"}} </b></p></td>
          <td><p><b>{% if not order.prize_amount|default_if_none:"" %} # {% endif %} <p style="color:green;">{{ order.prize_amount|default_if_none:""}}&#x20b9;</p> </b></p></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">



        {% if request.user.is_staff %}
          <form action='/roominfo/' method='POST'>
            {% csrf_token %}
            <tr>
          <input type='hidden' name='gameid' value='{{ game.id}}'>
          <td><p><b>RoomId  &nbsp<input type='text' name='room_id' value='{{ game.room_id }}'></input></b></p></td>
          <td><p><b>RoomPass  &nbsp<input type='text' name='room_pass' value='{{ game.room_pass }}'></input></b></p></td>
          <td><button class='btn btn-primary'>Save</button></td>
          <tr>
          </form>
        {% else %}

          {% if user_has_paid %}
          {% if game.get_successful_orders %}
          <b>RoomId<p>{{ game.room_id }}</p></b>
          <b>RoomPass<P>{{ game.room_pass }}</p>
          <p>Make sure to join the Room before the Match starting Time Once the match starts you wont be able to join</p>
            {% endif %}
            {% endif %}

        {% endif %}

  </div>
</div>

{% endblock content %}
