{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h2>payment time</h2>

    <div class="card-body px-1">
        <small class="text-muted" style="align:center;">
            <b>Amount Payable: Rs. {{game.reg_fee}}</b>
            <br><br>
            <a href='/paytm/payment?id={{game.id}}' class='btn btn-info' style='color:white'> Pay Now </a>
        </small>
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">prize</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">leaderboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Rule</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


    <table class="table" >
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Prize</th>
    </tr>
  </thead>
  <tbody>
    <tr> <td><p>1</p></td>
    <td><b>{{ game.rank_1 }}&#x20b9;</b></td>
    <tr> <td><p>1</p></td>
    <td><b>{{ game.rank_2 }}&#x20b9;</b></td>
    <tr> <td><p>1</p></td>
    <td><b>{{ game.rank_3 }}&#x20b9;</b></td>
  </tr>
</table>
  <h3>Per kill <b>{{ game.per_kill }}&#x20b9/kill</b></h3>


  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">


    <table class="table" style="text-align:center;margin-top:-20px">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Total kill</th>
      <th scope="col">Rank</th>
    </tr>
  </thead>
  <tbody>
    {% for order in game.get_successful_orders.all %}
    <tr>
      <td><p><b>{{order.owner.first_name}} </b><br>{{order.owner.username}}  </p></td>
      <td>1</td>
      <td>1</td>
    </tr>
    {% endfor %}
  </tbody>
</table>





  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    My Rule my Life
  </div>
</div>
{% endblock content %}
